<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkMeUp | Create Your Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  </head>
  <body>
    <div class="container py-5 create-form-container">
      <form id="multiStepForm" action="/create" method="POST">
        <!-- Step 1 -->
        <div class="form-step input-container">
          <div class="mb-3">
            <label for="username" class="form-label input-step-label">Lets start with a cool username...</label>
            <div class="placeholder-text">http://localhost:3000/</div>
            <input type="text" class="input-form input-username shadow-sm" id="username" name="username" autocomplete="off" required placeholder="username" />
            <div id="usernameError" class="text-danger mt-2"></div>
          </div>
          <button type="button" class="btn next-btn" onclick="nextStep()" style="width: 100%">Continue</button>
        </div>

        <!-- Step 2 -->
        <div class="form-step d-none input-container">
          <div class="mb-3">
            <div class="judul-step-2 mb-3">
              <label for="name" class="form-label input-step-label">Add profile details</label>
            </div>
            <div class="mb-3">
              <label class="form-label">Choose a profile pict</label>
              <div class="d-flex mb-3">
                <div class="form-check me-3 pilihan-foto">
                  <input class="form-check-input" type="radio" name="profilePic" id="pic1" value="/images/kapibara.jpeg" required checked="checked" />
                  <label class="profile-pic" for="pic1">
                    <img src="/images/kapibara.jpeg" alt="Profile Picture 1" class="img-thumbnail" width="100" height="100" />
                  </label>
                </div>
                <div class="form-check me-3 pilihan-foto">
                  <input class="form-check-input" type="radio" name="profilePic" id="pic2" value="/images/monyet.jpeg" required />
                  <label class="profile-pic" for="pic2">
                    <img src="/images/monyet.jpeg" alt="Profile Picture 2" class="img-thumbnail" width="100" height="100" />
                  </label>
                </div>
                <div class="form-check me-3 pilihan-foto">
                  <input class="form-check-input" type="radio" name="profilePic" id="pic3" value="/images/sapi.jpeg" required />
                  <label class="profile-pic" for="pic3">
                    <img src="/images/sapi.jpeg" alt="Profile Picture 3" class="img-thumbnail" width="100" height="100" />
                  </label>
                </div>
              </div>
              <label class="sub-label">Display name</label>
              <input type="text" class="input-form shadow-sm" id="name" name="name" autocomplete="off" required placeholder="exc: Zidan Naufal..." />
            </div>
            <div class="mb-3">
              <label class="sub-label">Bio</label>
              <label class="info-text">optional<label class="info-text bintang">*</label></label>
              <input type="text" class="input-form shadow-sm bio-input" id="bio" name="bio" autocomplete="off" placeholder="exc: I Love Latte..." />
            </div>
            <div class="d-flex justify-content-between">
              <button type="button" class="btn back-btn" onclick="previousStep()">Back</button>
              <button type="button" class="btn next-btn" onclick="nextStep()">Continue</button>
            </div>
          </div>
        </div>

        <!-- Step 3 -->
        <div class="form-step d-none input-container">
          <div class="mb-3">
            <label class="form-label input-step-label mb-3">Add your links</label>
            <div id="links">
              <div class="d-flex justify-content-between mb-3">
                <input type="text" class="input-form shadow-sm input-title" placeholder="Title" autocomplete="off" name="linkNames[]" required />
                <input type="text" class="input-form shadow-sm input-link" placeholder="Link (www.instagram.com/)" autocomplete="off" name="linkUrls[]" required />
                <button type="button" class="btn btn-danger btn-sm ms-2" onclick="removeLink(this)" disabled><i class="bi bi-trash3"></i></button>
              </div>
            </div>
            <button type="button" class="btn next-btn" id="addLink"><i class="bi bi-plus-lg" style="width: 100px"></i></button>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn back-btn" onclick="previousStep()">Back</button>
            <button type="button" class="btn next-btn" onclick="nextStep()">Continue</button>
          </div>
        </div>

        <!-- Step 4 -->
        <div class="form-step d-none input-container">
          <div class="mb-3">
            <label class="form-label input-step-label mb-3">Customize Theme</label>
            <div class="mb-3">
              <label class="form-label">Font Color</label>
              <input type="color" class="form-control" id="fontColor" name="fontColor" value="#000000" />
            </div>
            <div class="mb-3">
              <label class="form-label">Background Color</label>
              <input type="color" class="form-control" id="bgColor" name="bgColor" value="#57886C" />
            </div>
            <div class="mb-3">
              <label class="form-label">Button Color</label>
              <input type="color" class="form-control" id="buttonColor" name="buttonColor" value="#D2E823" />
            </div>
            <div class="mb-3">
              <label class="form-label">Preview</label>
              <div id="themePreview" class="p-3 text-center" style="border: 1px solid #ddd">
                <img src="/images/kapibara.jpeg" alt="Profile Picture" class="img-thumbnail" width="100" height="100" />
                <h1 id="previewName">Zidan Naufal</h1>
                <p id="previewBio">I Love Latte.</p>
                <button id="previewButton" class="btn btn-primary">Sample Button</button>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button type="button" class="btn back-btn" onclick="previousStep()">Back</button>
              <button type="submit" class="btn next-btn" style="width: 150px">Finish Setup</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
